// Mono Palette
$mono-100: #ffffff;
$mono-200: #f2f2f2;
$mono-300: #e5e5e5;
$mono-400: #b2b2b2;
$mono-500: #8c8c8c;
$mono-600: #595959;
$mono-700: #404040;
$mono-800: #262626;
$mono-900: #000000;

// Primary Palette
$primary-100: #e0f7fa;
$primary-200: #b2ebf2;
$primary-300: #81deea;
$primary-400: #4dd0e1;
$primary-500: #26c6da;
$primary-600: #00bcd4;
$primary-700: #00acc1;
$primary-800: #0097a7;
$primary-900: #006064;

// Generic
$error-red: #d86155;
