@use '@/theme/index' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid $mono-300;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    margin-inline: auto;
  }

  &__title {
    font-size: $font-size-lg;
    color: $primary-900;
  }
}
