@use '@/theme/index' as *;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
}

.create-job {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: $mono-200;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba($mono-900, 0.1);

  &__heading {
    font-size: $font-size-lg;
    color: $primary-900;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__error {
    color: $error-red;
    text-align: center;
    font-size: $font-size-sm;
  }
}

.job-status {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: $mono-100;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba($mono-900, 0.1);

  &__heading {
    font-size: $font-size-lg;
    color: $primary-800;
    margin-bottom: 1rem;
  }

  &__status {
    font-size: $font-size-md;
    margin-bottom: 1rem;
    color: $primary-600;
  }

  &__urls {
    margin-top: 1rem;

    h4 {
      font-size: $font-size-md-plus;
      margin-bottom: 1rem;
      color: $primary-800;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        background-color: $mono-300;
        margin-bottom: 0.5rem;
        padding: 0.75rem;
        border-radius: 5px;
        font-size: $font-size-base;
        color: $primary-900;
        word-break: break-word;
      }
    }
  }

  &__loading {
    border: 4px solid $mono-300;
    border-top: 4px solid $primary-500;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
}
