@use '@/theme/index' as *;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.job-status {
  width: 100%;
  max-width: 60rem;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: $mono-100;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba($mono-900, 0.1);

  &--loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__stats {
    margin-bottom: 2rem;

    &__heading {
      font-size: $font-size-lg;
      color: $primary-800;
      margin-bottom: 1rem;
    }

    &__status {
      display: flex;
      justify-content: centre;
      align-items: center;
      gap: 1rem;
      font-size: $font-size-md;
      margin-bottom: 1rem;
      color: $primary-600;

      &__title {
        font-weight: bold;
      }
    }
  }

  &__urls {
    margin-top: 1rem;

    &__heading {
      font-size: $font-size-md-plus;
      margin-bottom: 1.5rem;
      color: $primary-800;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        background-color: $mono-300;
        margin-bottom: 0.5rem;
        padding: 0.75rem;
        border-radius: 5px;
        font-size: $font-size-base;
        color: $primary-900;
        word-break: break-word;

        & a:hover {
          color: $primary-500;
          text-decoration: underline;
        }
      }
    }
  }

  &__no-urls {
    font-size: $font-size-md;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
  }

  &__loading {
    border: 4px solid $mono-300;
    border-top: 4px solid $primary-500;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
}
